body {
    margin: 0;
    padding: 0; 
}
 
.header-nav {
    height: 75px;
}

.navbar-brand {
    width: 210px;
    height: 100%;
}

.main-banner-row {
    max-width: 100%;
    margin: 0;
}

.main-banner {
    height: 400px;
    padding: 0;
}

.main-hotel {
    object-fit: cover;
    filter: brightness(0.5);
}

.banner-content {
    position: absolute;
    top: 30px;
}

.hotel-search {
    background-color: rgba(0, 0, 0, 0.753);
    width: 75%;
}

.hotel-search label {
    text-align: left;
}

.star-row {
    height: 10px;
}

.hotel-price {
    font-weight: bold;
}

.top-destinations-container img, .top-hotels-container img {
    width: 100%;
    max-height: 160px;
    object-fit: cover;
}

/*Media query for tablets only (768px to 991px)*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .hotel-search {
        width: 90%;
    }
}

/*Media query for mobiles (0px to 767px) */
@media screen and (max-width: 767px) {
    .main-banner {
        height: 750px;
    }

    .hotel-search {
        padding: 0 15px;
    }
}